{{#each this}}
<li class="gallery__film grid__item" data-id:{{id}}>
    <img class="gallery-film__image" src="{{poster_path}}"
        alt="{{original_title}}">
    <h2 class="gallery-film__title">{{original_title}}</h2>
    <span class="gallery-film__features">{{genres}} | {{release_date}} {{vote_average}}
    </span>
</li>
{{/each}}