{{#each this}}
<li data-micromodal-trigger="modal-1" class="grid__item gallery__film" data-id={{id}}>

    <img class="gallery-film__image" src="{{poster_path}}" alt="{{original_title}}" data-id={{id}} />
    <h3 class="gallery-film__title" data-id={{id}}>{{original_title}}</h3>
    <p class="gallery-film__features" data-id={{id}}>{{genres}} | {{release_date}}
    </p>


</li>
{{/each}}