{{#each this}}
<li class="grid__item gallery__film" data-id={{id}}>
    <img class="gallery-film__image" src="{{poster_path}}" alt="{{original_title}}" />
    <h3 class="gallery-film__title">{{original_title}}</h3>
    <p class="gallery-film__features">{{genres}} | {{release_date}}
    </p>
</li>
{{/each}}