<div class="modal__document" role="document">
    <header class="modal__header">
        <button class="modal__close" aria-label="Close modal" aria-controls="modal__container1"
            data-micromodal-close></button>
{{!-- <picture class="modal__img" >
    <source srcset="{{poster_path}}" media="(min-width: 1200px)" />
    <source srcset="{{poster_path}}" media="(min-width: 768px)" />
    <source srcset="{{poster_path}}" media="(max-width: 767px)" />
    <img class="modal__img" src="{{poster_path}}" alt="poster {{original_title}}" />
</picture> --}}
        <img class="modal__img" src='{{poster_path}}' alt='poster {{original_title}}'>

    </header>

    <main class="modal__content" id="modal-1-content">
        <h2 class="modal__title">{{title}}</h2>
        <div class="modal__information">
            <table width="100%" cellspacing="0" cellpadding="5">
                <tr>
                    <td class="modal__information--text1">Vote/Votes</td>
                    <td class="modal__information--text2"><span
                            class="modal__information--block"><b>{{vote_average}}</span> / {{vote_count}}</b></td>
                </tr>
                <tr>
                    <td class="modal__information--text1">Popularity</td>
                    <td class="modal__information--text2"><b>{{popularity}}</b></td>
                </tr>
                <tr>
                    <td class="modal__information--text1">Original Title</td>
                    <td class="modal__information--text2"><b>{{original_title}}</b></td>
                </tr>
                <tr>
                    <td class="modal__information--text1">Genre</td>
                    <td class="modal__information--text2"><b>{{#each genres}}{{this}} {{/each}}</b></td>
                </tr>
                <tr>
                    <td><button data-action="open" class="modal__button-trailer">Watch trailer</button></td>
                </tr>
            </table>
        </div>

        <h3 class="modal__title2"><b>About</b></h3>
        <p class="modal__text"><b>{{overview}}</b></p>
        <div class="modal__button-container">
            <button id="add-watched" data-id='addwatched' class="modal__button1">ADD TO WATCHED</button>
            <button id="remove-watched" data-id='removewatched' class="modal__button1 modal__button2 hide">REMOVE FROM
                WATCHED</button>
            <button id="add-queue" data-id='addqueue' class="modal__button1">ADD TO QUEUE</button>
            <button id="remove-queue" data-id='removequeue' class="modal__button1 modal__button2 hide">REMOVE FROM
                QUEUE</button>
        </div>
    </main>
</div>

<div class="trailer">
    <div class="trailer-backdrop">
        <div class="trailer-modal">
            <iframe class="video" src="https://www.youtube.com/embed/{{idTrailer}}" frameborder="0" allowfullscreen>
            </iframe>

            <button data-action="close" class="film-trailer-close"></button>
        </div>
    </div>
</div>