
<div class="document" role="document">
    <header class="modal__header">
        <button class="modal__close" aria-label="Close modal" aria-controls="modal__container1" data-micromodal-close></button>
 
    <img class="modal__img" src='https://www.themoviedb.org/t/p/w220_and_h330_face/{{this.poster_path}}' alt='poster {{this.original_title}}'>
    </header>

    <main class="modal__content" id="modal-1-content">
                   
        <h2 class="modal__title">{{this.title}}</h2>
        <div class="modal__information">
            <ul class="modal__information--text1">
                <li class="modal__information--list">Vote/Votes</li>
                <li class="modal__information--list">Popularity</li>
                <li class="modal__information--list">OriginalTitle</li>
                <li class="modal__information--list">Genre</li>
            </ul>
            <ul class="modal__information--text2">
                <li class="modal__information--list"><span class="modal__information--block">{{vote_average}}</span> / {{vote_count}}</li>
                <li class="modal__information--list">{{popularity}}</li>
                <li class="modal__information--list">{{original_title}}</li>
                <li class="modal__information--list">{{genres}}</li>
            </ul>
        </div>
        <h3 class="modal__title2"><b>About</b></h3>
        <p class="modal__text"><b>{{overview}}</b></p>
        <button class="modal__button">ADD TO WATCHED</button>
        <button class="modal__button">ADD TO QUEUE</button>
                   
    </main>
</div>

